.cls_attach_chat {
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 50%;
}
.cls_attach_task {
    height: 15px;
    width: 15px;
    background-color: blue;
    border-radius: 50%;
    /* display: inline-block; */
}

.cls_attach_reminder {
    height: 15px;
    width: 15px;
    background-color: yellow;
    border-radius: 50%;
    /* display: inline-block; */
}
.cls_attach_document {
    height: 15px;
    width: 15px;
    background-color: green;
    border-radius: 50%;
    /* display: inline-block; */
}
